.carousel-height {
    max-height: 8cm;
}

.image-size {
    height: auto;
    width: 100%;
}

.ideas-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;
}

.ideas-item {
    flex: 1;
    padding: 20px;
    min-width: 13cm;
}
