ol {
    list-style-type: none;
}

.carousel-height {
    max-height: 8cm;
}

.image-size {
    height: auto;
    width: 100%;
}

.ideas-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;
}
.list-div{
    flex: auto;
    width: 100%;
}

.ideas-item {
    flex: 1;
    padding: 20px;
    min-width: 13cm;
    height: 100%;
}

.register-width {
    width: 50% !important;
}

.min-vh-100-custom {
    min-height: calc(100vh - 56px);
}

.whole-desk {
    display: flex;
    flex-wrap: nowrap;
}

.desk-tiles {
    flex: auto;
    background-color: #b6b6ae !important;
    margin: 5px;
    border-radius: 5px !important;
}

.desk-columns {
    display: flex;
    flex-wrap: nowrap;
    min-width: 8cm;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.my-grid {
    display: grid;
    align-items: start;
}

.text-header {
    margin-bottom: auto;
    height: auto;
}

.dragging {
    opacity: 0.5;
}

.min-height-drag {
    min-height: 45px !important;
}

.shortened {
    height: calc(100vh - 56px);
}

.profile-right {
    padding-right: 4rem;
    margin-left: auto;
    float: right;
}

.profile-container {
    flex-direction: column;
    align-items: baseline;
}

.profile-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    column-gap: 5px;
    row-gap: 30px;
    justify-items: start;
    justify-content: start;
    width: max-content;
    grid-template-areas:
        "profile-picture profile-picture"
        "label1 field1"
        "label2 field2";
}

.item-grid-profile-picture {
    grid-area: profile-picture;
    text-align: center;
}

.item-grid-label2 {
    grid-area: label2;
}

.item-grid-label1 {
    grid-area: label1;
}

.item-grid-field1 {
    grid-area: field1;
}

.item-grid-field2 {
    grid-area: field2;
}

.item-grid-label1, .item-grid-label2 {
    text-align: left;
    padding-right: 10px;
}

.item-grid-field1, .item-grid-field2 {
    text-align: left;
}

.profile-grid-elem {
    display: inline;
}
